<header>
  <div>
  <h1>Recupera tu contraseña</h1>
  </div>
</header>
<main>
  <form id='forgotRecoveryForm' >
    <div>
      <label>Nueva contraseña</label>
      <input type='password' name="password" id="password"  ></input>
      <button type='submit'>Restablecer</button>
    </div>
  </form>
  <div class='switch'>
    <button  id="loginButton" >Iniciar Sesion</button>
  </div>
</main>
<script src='/js/forgotRecovery.js'></script>