<header>
  <div></div>
  <h1>Recupera tu contraseña</h1>
  <div></div>
</header>
<main>
  <form id='recoverForm' >
    <div>
      <label>Correo electrónico</label>
      <input type='email' id="email" placeholder="email" ></input>
    </div>
    <button type='submit' class='submit'>Enviar</button>
  </form>
  <div class='switch'>
    <button  id="loginButton" >Iniciar Sesion</button>
  </div>
</main>
<script src='/js/forgotPassword.js'></script>