<h1>Login</h1>

<form id="formLogin">

  <input type="text" required placeholder="email" id="email" />
  <input type="password" required placeholder="password" id="password" />

  <button type="submit">Ingresar</button>
</form>
<button  id="signUpButton" >Registrarse</button>

<script src="/js/login.js"></script>